// Nova Tool CSS
@import '~vue-multiselect/dist/vue-multiselect.min.css';

.multiselect {
  > .multiselect__tags {
    border-color: var(\-\-60);
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    overflow: hidden;
  }

  &.border-danger > .multiselect__tags {
    border-color: var(--danger);
  }

  .multiselect__option--highlight,
  .multiselect__option--highlight:after,
  .multiselect__tag {
    background: rgb(244, 247, 250);
  }

  .multiselect__option--highlight {
    color: rgb(17, 24, 39);
  }

  .multiselect__spinner:after,
  .multiselect__spinner:before {
    border-top-color: #6366F1;
  }
}
